<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BibleBooksNE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BibleBooksNE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BibleBooksNE.Properties.Settings>
            <setting name="WordWrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InCheckedAddOnsToo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Headlines" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Crosslinks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Footnotes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WordList" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Audio" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveStateBeforeClosing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveReaderStateBeforeQuit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectorState" serializeAs="String">
                <value>0;0;0;0;8,11,16</value>
            </setting>
            <setting name="UserHomeDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="SortingType" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClearTempDirBeforeQuit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="JustifyIfPossible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DarkTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SplitterDistance" serializeAs="String">
                <value>199</value>
            </setting>
            <setting name="UserLanguage" serializeAs="String">
                <value>0</value>
            </setting>
        </BibleBooksNE.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <BibleBooksNE.Properties.Settings>
            <setting name="DatabasesFolderName" serializeAs="String">
                <value>Databases</value>
            </setting>
            <setting name="ResourcesFolderName" serializeAs="String">
                <value>Resources</value>
            </setting>
            <setting name="ProgramNameForFolder" serializeAs="String">
                <value>BibleBooksNE</value>
            </setting>
        </BibleBooksNE.Properties.Settings>
    </applicationSettings>
</configuration>